In [1]:
import tensorflow as tf
import numpy as np
import pandas as pd

## data preprocessing

In [2]:
df=pd.read_csv("Datasets/AS2(t-12).csv")
data=df["clave"]
df.drop(columns=["clave"],axis=1,inplace=True)
df['hour(t)']=list(np.arange(13,24))+list(np.arange(0,24))*1307
df=df.reindex(columns=['var1(t-12)','var2(t-12)','var3(t-12)','var4(t-12)','var5(t-12)','var6(t-12)','var7(t-12)','var8(t-12)','hour(t)','obj'])

print(df)
print(data)

       var1(t-12)  var2(t-12)  var3(t-12)  var4(t-12)  var5(t-12)  var6(t-12)  \
0             799      1442.0       658.0        76.0         0.0        36.0
1             894       903.0       458.0        76.0         0.0        36.0
2             760       397.0       190.0        76.0         0.0        36.0
3             669       312.0       147.0        76.0         0.0        36.0
4             665       299.0       124.0        76.0         0.0        36.0
...           ...         ...         ...         ...         ...         ...
31374         261       260.0       114.0       218.0         0.0       170.0
31375         395       420.0       170.0       218.0         0.0       170.0
31376         459       590.0       228.0       218.0         0.0       170.0
31377         631       696.0       305.0       218.0         0.0       170.0
31378         743       852.0       353.0       218.0         0.0       170.0

       var7(t-12) var8(t-12)  hour(t)  obj
0           116.0    festivo       13  468
1           116.0    festivo       14  201
2           116.0    festivo       15  243
3           116.0    festivo       16  349
4           116.0    festivo       17  430
...           ...        ...      ...  ...
31374       265.0     sábado       19  347
31375       265.0     sábado       20  311
31376       265.0     sábado       21  216
31377       265.0     sábado       22  182
31378       265.0     sábado       23  164

[31379 rows x 10 columns]
0        2018-01-01 13:00:00
1        2018-01-01 14:00:00
2        2018-01-01 15:00:00
3        2018-01-01 16:00:00
4        2018-01-01 17:00:00
                ...
31374    2021-07-31 19:00:00
31375    2021-07-31 20:00:00
31376    2021-07-31 21:00:00
31377    2021-07-31 22:00:00
31378    2021-07-31 23:00:00
Name: clave, Length: 31379, dtype: object

In [3]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['var8(t-12)']=le.fit_transform(df['var8(t-12)'])
# le.transform(df['var8(t-12)'])
print(df)

       var1(t-12)  var2(t-12)  var3(t-12)  var4(t-12)  var5(t-12)  var6(t-12)  \
0             799      1442.0       658.0        76.0         0.0        36.0
1             894       903.0       458.0        76.0         0.0        36.0
2             760       397.0       190.0        76.0         0.0        36.0
3             669       312.0       147.0        76.0         0.0        36.0
4             665       299.0       124.0        76.0         0.0        36.0
...           ...         ...         ...         ...         ...         ...
31374         261       260.0       114.0       218.0         0.0       170.0
31375         395       420.0       170.0       218.0         0.0       170.0
31376         459       590.0       228.0       218.0         0.0       170.0
31377         631       696.0       305.0       218.0         0.0       170.0
31378         743       852.0       353.0       218.0         0.0       170.0

       var7(t-12)  var8(t-12)  hour(t)  obj
0           116.0           1       13  468
1           116.0           1       14  201
2           116.0           1       15  243
3           116.0           1       16  349
4           116.0           1       17  430
...           ...         ...      ...  ...
31374       265.0           3       19  347
31375       265.0           3       20  311
31376       265.0           3       21  216
31377       265.0           3       22  182
31378       265.0           3       23  164

[31379 rows x 10 columns]

In [4]:
def slicing_data(data,rows):
    x=list()
    y=list()
    for i in np.arange(rows-1,len(data)):
        y.append(data.iloc[i][-1])
        x.append([data.iloc[i-3][:-1],data.iloc[i-2][:-1],data.iloc[i-1][:-1],data.iloc[i][:-1]])
    
    return np.array(x).astype('float32'),np.array(y).astype('float32')

In [5]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import  train_test_split

In [6]:

scaler=MinMaxScaler()
df[df.columns.difference(['obj'])]=scaler.fit_transform(df[df.columns.difference(['obj'])])

In [7]:
x,y=slicing_data(df,4)
print(x)
print(y)

[[[0.08009199 0.33433804 0.22783934 ... 0.27970296 0.33333334 0.5652174 ]
  [0.08959104 0.20936704 0.15858726 ... 0.27970296 0.33333334 0.6086956 ]
  [0.07619238 0.0920473  0.06578948 ... 0.27970296 0.33333334 0.65217394]
  [0.06709329 0.07233944 0.05090028 ... 0.27970296 0.33333334 0.6956522 ]]

 [[0.08959104 0.20936704 0.15858726 ... 0.27970296 0.33333334 0.6086956 ]
  [0.07619238 0.0920473  0.06578948 ... 0.27970296 0.33333334 0.65217394]
  [0.06709329 0.07233944 0.05090028 ... 0.27970296 0.33333334 0.6956522 ]
  [0.06669333 0.0693253  0.04293629 ... 0.27970296 0.33333334 0.73913044]]

 [[0.07619238 0.0920473  0.06578948 ... 0.27970296 0.33333334 0.65217394]
  [0.06709329 0.07233944 0.05090028 ... 0.27970296 0.33333334 0.6956522 ]
  [0.06669333 0.0693253  0.04293629 ... 0.27970296 0.33333334 0.73913044]
  [0.05339466 0.0839323  0.04466759 ... 0.27970296 0.33333334 0.7826087 ]]

 ...

 [[0.02489751 0.03825643 0.02285319 ... 0.64851487 1.         0.7826087 ]
  [0.02629737 0.06028287 0.03947368 ... 0.64851487 1.         0.82608694]
  [0.03969603 0.09738001 0.05886427 ... 0.64851487 1.         0.8695652 ]
  [0.04609539 0.13679573 0.07894737 ... 0.64851487 1.         0.9130435 ]]

 [[0.02629737 0.06028287 0.03947368 ... 0.64851487 1.         0.82608694]
  [0.03969603 0.09738001 0.05886427 ... 0.64851487 1.         0.8695652 ]
  [0.04609539 0.13679573 0.07894737 ... 0.64851487 1.         0.9130435 ]
  [0.06329367 0.16137259 0.10560942 ... 0.64851487 1.         0.95652175]]

 [[0.03969603 0.09738001 0.05886427 ... 0.64851487 1.         0.8695652 ]
  [0.04609539 0.13679573 0.07894737 ... 0.64851487 1.         0.9130435 ]
  [0.06329367 0.16137259 0.10560942 ... 0.64851487 1.         0.95652175]
  [0.07449255 0.19754231 0.12222992 ... 0.64851487 1.         1.        ]]]
[349. 430. 591. ... 216. 182. 164.]

In [8]:
print(x[0].shape)
print(y.shape)

(4, 9)
(31376,)

In [49]:
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.333,random_state=101)

In [51]:
 y_test.shape

(10449,)

In [43]:
import tensorflow.keras.layers as layers

In [44]:
input_layer=layers.Input(shape=(4,9,1))
layer_1=layers.TimeDistributed(layers.Conv1D(filters=256,kernel_size=2,activation="relu"))(input_layer)
layer_2=layers.TimeDistributed(layers.MaxPool1D(pool_size=2, padding='same'))(layer_1)
layer_3=layers.TimeDistributed(layers.Flatten())(layer_2)
layer_4=layers.Dropout(0.5)(layer_3)
layer_5=layers.Bidirectional(layers.LSTM(500, activation = 'relu'))(layer_4)
output_layer=layers.Dense(1)(layer_5)
model_1=tf.keras.Model(inputs=input_layer,outputs=output_layer)

In [45]:
model_1.summary()

Model: "model_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_9 (InputLayer)        [(None, 4, 9, 1)]         0

 time_distributed_28 (TimeD  (None, 4, 8, 256)         768
 istributed)

 time_distributed_29 (TimeD  (None, 4, 4, 256)         0
 istributed)

 time_distributed_30 (TimeD  (None, 4, 1024)           0
 istributed)

 dropout_6 (Dropout)         (None, 4, 1024)           0

 bidirectional_6 (Bidirecti  (None, 1000)              6100000
 onal)

 dense_6 (Dense)             (None, 1)                 1001

=================================================================
Total params: 6101769 (23.28 MB)
Trainable params: 6101769 (23.28 MB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [ ]:
model_1.compile(optimizer='adam',loss='mae',metrics=['mae','rmae',tf.keras.metrics.Accuracy()])
history_1=model_1.fit(X_train,y_train,epochs=100,batch_size = 32, shuffle=True,validation_data=(X_test,y_test))